.flex-friend {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
    justify-content: space-around;
}

.sidebar {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 2rem;
    margin: 1rem;
    background-color: #242424;
    border-radius: 25px;
    text-align: center;
}

.feed {
    flex: 2 1 auto;
    overflow-y: auto;
    margin: 1rem;
    background-color: white;
}

.feed-slot {
    border-radius: 25px;
    overflow-y: auto;
    background-color: #242420;
    padding: 1rem;
    margin: 1rem;
}

.feed-button {
    margin: 1rem;
    width: 90%;
    padding: 1rem;
    border-radius: 25px;
}